@font-face {
  font-family: 'FontGame';
  src: url('./assets/font/Gameplay.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background-color: #1c94ba;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-align: center;
}

.header,
.description,
.footer,
.main,
.form {
  display: flex;
}

.header,
.description,
.form {
  flex-direction: column;
}

.header,
.description,
.form,
.footer {
  align-items: center;
}

.main,
.form {
  justify-content: center;
}

.img img,
.icon img {
  height: auto;
  width: auto;
}

.header h1 {
  font-family: 'FontGame';
  font-size: 55px;
  margin: 40px 10px 30px;
  text-shadow: 4px 4px 4px #383838;
}

.header h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.form {
  background-color: #a0a0a0;
  border: #777777 solid 3px;
  width: 35%;
}

.form,
.textarea {
  border-radius: 13px;
}

.textarea {
  font-size: 18px;
  height: 100px;
  margin: 20px;
  padding: 15px;
  resize: none;
  width: 85%;
}

.textarea,
.input,
.textarea:read-only {
  color: #333333;
}

.textarea,
.input {
  background: #dadada79;
  border: none;
  text-align: center;
  transition: ease background 100ms;
}

.textarea,
.input,
.btn {
  font-family: 'open sans', sans-serif;
}

.input {
  font-size: 15px;
  height: 30px;
  margin-bottom: 15px;
  width: 40%;
}

.textarea:first-child:hover,
.input:hover {
  background: #fdfdfd94;
}

.input,
.btn {
  border-radius: 8px;
}

.btn {
  background: #67a5b8;
  border: #dadada79 solid 2px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin: 4px;
  padding: 4px 8px;
  text-transform: uppercase;
  transition: ease scale 100ms;
}

.btn:hover {
  scale: 1.04;
}

.img {
  align-self: flex-end;
}

.img img {
  margin: auto 40px;
  max-height: 180px;
}

.description p {
  background: #ffffff56;
  border-radius: 14px;
  font-size: 19px;
  letter-spacing: 0.3px;
  margin-top: 30px;
  padding: 13px;
  text-align: justify;
  width: 75%;
}

.description p,
.description a:link,
a:link:active,
a:visited:active,
a:visited {
  color: #505050;
}

.description a:link,
a:link:active,
a:visited:active,
a:visited {
  text-decoration: none;
}

.description a:link:hover {
  text-decoration: underline;
}

.footer {
  background: #ffffff25;
  height: 55px;
  justify-content: flex-end;
  margin-top: 50px;
  padding: 0 10px;
  width: 100%;
}

.icon img {
  margin-left: 10px;
  max-height: 30px;
}

.icon img:hover {
  margin-bottom: 3px;
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .header h1 {
    font-size: 50px;
  }
  .header h2,
  .form,
  .description p {
    width: 60%;
  }
  .header h2 {
    font-size: 23px;
  }
  .textarea {
    font-size: 15px;
    height: 80px;
  }
  .input {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
  }
  .description p {
    font-size: 17px;
  }
  .img img {
    margin: auto 20px;
    max-height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 40px;
  }
  .header h2,
  .form,
  .description p {
    width: 85%;
  }
  .img img {
    display: none;
  }
}
